<h3>Account Details</h3>

<mat-form-field appearance="fill">
  <mat-label>First name</mat-label>
  <input matInput>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>First name</mat-label>
  <input matInput>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Are you an organization?</mat-label>
  <mat-select>
    <mat-option value="option">No</mat-option>
    <mat-option value="option">Yes</mat-option>
  </mat-select>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Organization name</mat-label>
  <input matInput>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Phone Number</mat-label>
  <input matInput>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Address</mat-label>
  <input matInput>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>City, State</mat-label>
  <input matInput>
</mat-form-field>
<br />
<mat-form-field appearance="fill">
  <mat-label>Radius</mat-label>
  <mat-select>
    <mat-option value="option">5 Miles</mat-option>
    <mat-option value="option">10 Miles</mat-option>
    <mat-option value="option">25 Miles</mat-option>
    <mat-option value="option">50 Miles</mat-option>
  </mat-select>
</mat-form-field>