<h3>My Account</h3>
<div class="align-center">
    <h4>Edit your personal information.</h4>
    <button mat-flat-button color="primary" mat-fab color="primary" routerLink="/account/details">
        <mat-icon class="next">edit</mat-icon>
    </button>
</div>
<br /><br />
<div class="align-center">
    <h4>Adjust your drop-off and pick-up times.</h4>
    <button mat-flat-button color="primary" mat-fab color="primary" routerLink="/account/times">
        <mat-icon class="next">edit</mat-icon>
    </button>
</div>