<h3>Add Edit Custom Page</h3>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex. Insulin">
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select>
      <mat-option value="option">Toiletries</mat-option>
      <mat-option value="option">Medicine</mat-option>
      <mat-option value="option">Cleaners</mat-option>
      <mat-option value="option">Food</mat-option>
      <mat-option value="option">Emergency</mat-option>
      <mat-option value="option">Fuel</mat-option>
    </mat-select>
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. its approx..."></textarea>
  </mat-form-field>
</form>
