body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }
  .container {
    width: auto;
    margin: 0px;
  }
}

@media screen and (min-width: 900px) {
  .container {
    margin: auto;
    width: 800px;
  }
}

.welcome {
  height: 34px !important;
}

.welcome-menu {
  font-size: 12px;
}

.footer-toolbar {
  position: fixed;
  left: 0;
  bottom: 0;
}