table {
  width: 100%;
}

table.mat-table tr:hover {
  cursor: pointer;
  background: #f5fbff;
}

table.mat-table tr.mat-header-row:hover {
  background: none;
}

.float-right {
  float: right;
  top: -5px;
}