<h3>Recent Requests</h3>
<div class="card-stack-container" *ngFor="let item of needs">
  <mat-card class="card-stack card-clickable" routerLink="/items/{{item.id}}">
    {{ item.name }} <span class="small float-right">{{ getStatusText(item.status )}}</span>
    <mat-card-subtitle>{{ item.amount }} of {{ item.details }}</mat-card-subtitle>
  </mat-card>
</div>

<br />

<h3>Recent Shares</h3>
<div class="card-stack-container" *ngFor="let item of sharing">
  <mat-card class="card-stack card-clickable" routerLink="/items/{{item.id}}">
    {{ item.name }} <span class="small float-right">{{ getStatusText(item.status )}}</span>
    <mat-card-subtitle>{{ item.amount }} of {{ item.details }}</mat-card-subtitle>
  </mat-card>
</div>